.awgrid {
	display: flex;
	flex-flow: column nowrap;
	align-content: stretch;
	border: 1px solid lightgray;

	.thead {
		border-bottom: 1px solid lightgray;
		flex: 0 1 auto;
		display: block;

		.th {
			display: table-cell;
			border-right: 1px solid lightgray;
			font-size: 1.2em;
			padding: 4px;

			&:last-of-type {
				border-right: none;
			}
		}
	}

	.tbody {
		flex: 1 1 auto;
		overflow: auto;

		.tpage {
			.tr {
				border-bottom: 1px solid lightgray;
				display: block;

				line-height: 1rem;
				min-height: 1.3em;

				.td {
					display: table-cell;
					display: table-cell;
					border-right: 1px solid lightgray;
					font-size: 1.0em;

					&:last-of-type {
						border-right: none;
					}	

					padding: 4px;				
				}
			}
		}
	}
}