<div class="awgrid" [style.height]="height">
	<div class="thead" [scrollLeft]="liveScroll.scrollLeft | async"
		column-resizer
		(onColumnResizing)="onColumnResizing($event)"
		[class.columnResizing]="columnResizing"
		>
		<div [style.paddingRight]="liveScroll.paddingRight | async">
			<div aw-grid-head-col
				[grid-dragsource]="dragSourceType" [drag-disabled]="!allowDrag" 
				class="th" *ngFor="let colDef of columns | async" [model]="colDef"></div>
		</div>
	</div>
	<div class="tbody"
		live-scroll [pages]="pages"
		(onLiveScroll)="onLiveScroll($event)">
		<div aw-grid-page class="tpage" *ngFor="let page of pageServices | async" [pageService]="page"></div>
	</div>
</div>