.awgrid {
	display: flex;
	border: 1px solid lightgray;
	flex-flow: column nowrap;
	align-content: stretch;

	.thead {
		border-bottom: 1px solid lightgray;
		flex: 0 1 auto;
		display: table;
		min-width: 100%;
		position: static;
		top: 0;
		left: 0;
		right: 0;
		background: white;
		min-height: 30px;
		max-height:  30px;

		.th {
			display: table-cell;
			border-right: 1px solid lightgray;
			font-size: 1.05em;
			padding:0.2em;

			&:last-of-type {
				border-right: none;
			}
		}
	}

	.tbody {
		flex: 1 1 auto;
		overflow: auto;

		.tpage {
			.tr {
				border-bottom: 1px solid lightgray;
				line-height: 1rem;
				min-height: 1.3em;
				display: table;
				min-width: 100%;

				.td {
					display: table-cell;
					border-right: 1px solid lightgray;
					font-size: 1.0em;

					padding: 0.2em;

					&:last-of-type {
						border-right: none;
						&:after {
							clear:both;
						}
					}
				}
			}
		}
	}
}